# Compiled Content

*.vpk
*.los
*.ain
*.vagrp_c
*.vanim_c
*.vmdl_c
*.vmesh_c
*.vphys_c
*.vseq_c
*.vmat_c
*.vtex_c
*.vsnd_c
*.vsndevts_c
*.vpcf_c
*.vanmgrph_c
*.vpost_c
*.vrman_c
*.bin
*.vxml_c
*.vjs_c
*.vcss_c

# Blender and Other files

*.blend
*.blend1
*.spp
*.sbs

# Images

*.tga
*.psd
*.png

# other
_bakeresourcecache
tools_asset_info.bin
*.7z

# Directories


